{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
    $(function() {
        // Toggle the classes and set the mask
        $('.mask').click(function(e) {
            $mask = $(this);

            if ($mask.hasClass('correct')) {
                $mask.removeClass('correct');
                $mask.removeClass('wrong-location');
                $mask.addClass('not-found');
                $mask.data('mask', 'N');
            } else if ($mask.hasClass('not-found')) {
                $mask.removeClass('not-found');
                $mask.removeClass('correct');
                $mask.addClass('wrong-location');
                $mask.data('mask', 'W');
            } else if ($mask.hasClass('wrong-location')) {
                $mask.removeClass('wrong-location');
                $mask.removeClass('not-found');
                $mask.addClass('correct');
                $mask.data('mask', 'C');
            }
            updateMask();

            e.preventDefault();
        });

        function updateMask() {
            var maskInput = $("#mask");
            var mask = '';
            for (let idx = 0; idx < 5; idx++) {
                mask += $("#mask" + idx).data('mask');
            }

            maskInput.val(mask);
        };

        var guessInput = $("#word");
        var submitBtn = $("#add-guess");
        guessInput.keyup(function() {
            var word = $(this).val().replace(/[^a-z]/gi, '').toUpperCase().substring(0, 5);
            guessInput.val(word);
            for (idx = 0; idx < 5; idx++) {
                $("#mask" + idx).html(word.charAt(idx) ?? ' ');
            }
            if (word.length === 5) {
                updateMask();
                submitBtn.removeAttr('disabled');
            } else {    
                submitBtn.prop('disabled', true);
            }
        });

        submitBtn.click(function() {
            $("#guess-form").submit();
        });
    });
</script>
{% endblock %}

{% block body %}

<style>
    .letter { width: 25px; height: 25px; text-align: center; }
    .letter.correct { background-color: green; }
    .letter.not-found { background-color: #aaaaaa; }
    .letter.wrong-location { background-color: yellow; }

    .frequent-words-wrapper { max-height: 200px; overflow: auto; display: inline-block; }

    .mask { border: 1px solid #eee;  }

    .mask.correct { background-color: green; }
    .mask.not-found { background-color: #aaaaaa; }
    .mask.wrong-location { background-color: yellow; }
</style>

{% if firstVisit %}
    <div class="text-center">
        <h1 class="fw-bold">Wordle Cafe</h1>
        <p>This is a site that is here to help you get better at wordle</p>
        <p>There are two functions of this site.  <b>Solve</b> a known wordle, or get <b>Help</b> with an unknown wordle.</p>
        <p>The goal is not for this to be a way to cheat, but rather a way to learn and understand how to get better.</p>
        <h4>Good Luck!</h4>
    </div>
{% endif %}

{% if wordle.results|length == 0 %}
    <div class="row d-flex g-4 py-4 my-4 border border-primary shadow">
        <div class="col align-items-start">
            <div class="feature-icon bg-primary bg-gradient">
                <i class="bi bi-bar-chart-steps"></i>
            </div>
            <h2>Solve</h2>

            <p>If you know the word you are trying to solve, here</p>
            <input type="text">
        </div>
        <div class="col align-items-start">
            <h2>Help</h2>
            <button>Get Started</button>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="wordle-wrapper col-md-4">
        <h2>Wordle Input</h2>

        <h3>Solve a Wordle?</h3>
        <p>This will show a path to a solution of the wordle.</p>
        <form action="/solve">
            <input type="text" name="word">
            <button type="submit" class="btn btn-primary">Show solution</button>
        </form>

        <hr>

        <h3>Wordle Help</h3>
        <p>Stuck and need some guidance?  This can walk you through any stage of a wordle, give suggestions for your next guess or just want to see some stats.</p>
        <table class="wordle">
            {% for result in wordle.results %}
                <tr>
                    {% for idx in 1..5 %}
                        <td class="letter {{ result.getStatusName(idx) }}">
                            {{ result.getLetter(idx) }}
                        </td>
                    {% endfor %}
                    <td>
                        <a href="">Jump</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <button type="button" id="addGuess" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#guessInput">
            Add A Guess
        </button>

        <div class="modal fade" id="guessInput" tabindex="-1" aria-labelledby="guessInputTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="guessInputTitle">Guess Input</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Enter the guess and the result</p>
                        <form id="guess-form">
                            <div class="mb-3">
                                <label for="word" class="form-label">Guess</label>
                                <input type="text" class="form-control" id="word" name="word" aria-describedby="wordHelp" placeholder="ex. CHUMP">
                                <div id="wordHelp" class="form-text">Enter in the word you guess.</div>
                            </div>
                            <div class="mb-3">
                                <p>Result of the guess.  Click each letter to toggle.</p>
                                <fieldset>
                                    <button class="btn mask not-found" data-mask="N" id="mask0">C</button>
                                    <button class="btn mask not-found" data-mask="N" id="mask1">H</button>
                                    <button class="btn mask not-found" data-mask="N" id="mask2">U</button>
                                    <button class="btn mask not-found" data-mask="N" id="mask3">M</button>
                                    <button class="btn mask not-found" data-mask="N" id="mask4">P</button>
                                </fieldset>
                            </div>
                            <div class="visually-hidden">
                                <label for="mask" class="form-label">Result</label>
                                <input type="text" class="form-control" id="mask" name="mask">
                                <div id="maskHelp" class="form-text">This is the 5 character string that corresponds to your answers.  C = Correct, N = Not Found, W = Wrong Place</div>
                            </div>

                            <input type="hidden" name="results" value="{{ wordle.resultsData|json_encode() }}">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-guess" class="btn btn-primary" disabled >Add Guess</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Guesses</h2>

        <h3>Strategies</h3>
        {% for result in strategyResults %}
            <div class="card">
                <h4 class="card-header">{{ result.strategy.name}}</h4>

                <div class="card-body">
                    {{ result.strategy.description }}
                </div>

                <button type="button" class="btn btn-primary">{{ result.guess.word }}</button>

                {% if result.results|length > 0 %}
                <div class="card-footer">
                    <p>Other Results</p>
                    <ol>
                        {% for result in result.results %}
                            <li>{{ result.word }} {{ result.score|default(0) }}</li>
                        {% endfor %}
                    </ol>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="letter-distribution col-md-4">
        <h2>Stats</h2>

        <h3>Most Common Words</h3>
        <p><small>Source: https://www-cs-faculty.stanford.edu/~knuth/sgb-words.txt</small></p>
        <div class="frequent-words-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Word</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in frequentWords %}
                        <tr>
                            <td scope="row">{{ row['frequency'] }}</th>
                            <td>{{ row['word'] }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h3>Letter Distributions</h3>

        <div class="distribution">
            <h4>Global</h4>
            {% for letter, count in letterDistribution['total'] %}
                <p>{{ letter }} : {{ count}}</p>
            {% endfor %}
        </div>
        <h4>By Index</h4>
        {% for idx, distribution in letterDistribution['indexes'] %}
            <div class="distribution">
                <h5>Index {{ idx}}</h5>
                {% for letter, count in distribution %}
                    <p>{{ letter }} : {{ count}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
